---
apiVersion: v1
kind: Secret
metadata:
  name: hadoop-keytabs
  labels:
    managed_by: "TAP"
type: Opaque
data:
  authgateway: '{{ authgateway_keytab_value }}'
  hgm: '{{ hgm_keytab_value }}'
  hive: '{{ hive_keytab_value }}'
  hdfs: '{{ hdfs_keytab_value }}'
  broker: '{{ broker_keytab_value }}'

---
apiVersion: v1
kind: Secret
metadata:
  name: cdh-ca
  labels:
    managed_by: "TAP"
type: Opaque
data:
  cacerts: '{{ keystore_jks.config["keystore.jks"] }}'
  password: "{{ store_pass | b64encode }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: kerberos-cacert
  labels:
    managed_by: "TAP"
type: Opaque
data:
  krb5.cacert.pem: '{{ krbcacert }}'

---
apiVersion: v1
kind: Secret
metadata:
  name: authgateway-secret
  labels:
    managed_by: "TAP"
type: Opaque
data:
  zk.user: '{{ auth_gateway_zk_user | b64encode }}'
  zk.password: "{{ hostvars[groups['k8s-master'][0]].passwords.authgateway.zk_user_pass | b64encode }}"
  profiles: '{{ auth_gateway_profiles | b64encode }}'
  tap.user: '{{ auth_gateway_sys_user | b64encode }}'

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-zip-configurations
  labels:
    managed_by: "TAP"
type: Opaque
data:
  hdfs: '{{ hdfs_zip_config }}'
  hbase: '{{ hbase_zip_config }}'
  yarn: '{{ hbase_zip_config }}'
  hive: '{{ hbase_zip_config }}'

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-conf
  labels:
    managed_by: "TAP"
type: Opaque
data:
  core-site.xml: |-
{{ hadoop_conf.config["hadoop-conf/core-site.xml"] | b64decode | indent(4, true)}}
  hadoop-env.sh: |-
{{ hadoop_conf.config["hadoop-conf/hadoop-env.sh"] | b64decode | indent(4, true)}}
  hdfs-site.xml: |-
{{ hadoop_conf.config["hadoop-conf/hdfs-site.xml"] | b64decode | indent(4, true)}}
  log4j.properties: |-
{{ hadoop_conf.config["hadoop-conf/log4j.properties"] | b64decode | indent(4, true)}}
  ssl-client.xml: |-
{{ hadoop_conf.config["hadoop-conf/ssl-client.xml"] | b64decode | indent(4, true)}}
  topology.map: |-
{{ hadoop_conf.config["hadoop-conf/topology.map"] | b64decode | indent(4, true)}}
  topology.py: |-
{{ hadoop_conf.config["hadoop-conf/topology.py"] | b64decode | indent(4, true)}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hbase-conf
  labels:
    managed_by: "TAP"
type: Opaque
data:
  core-site.xml: |-
{{ hbase_conf.config["hbase-conf/core-site.xml"] | b64decode | indent(4, true)}}
  hbase-env.sh: |-
{{ hbase_conf.config["hbase-conf/hbase-env.sh"] | b64decode | indent(4, true)}}
  hbase-site.xml: |-
{{ hbase_conf.config["hbase-conf/hbase-site.xml"] | b64decode | indent(4, true)}}
  hdfs-site.xml: |-
{{ hbase_conf.config["hbase-conf/hdfs-site.xml"] | b64decode | indent(4, true)}}
  jaas.conf: |-
{{ hbase_conf.config["hbase-conf/jaas.conf"] | b64decode | indent(4, true)}}
  log4j.properties: |-
{{ hbase_conf.config["hbase-conf/log4j.properties"] | b64decode | indent(4, true)}}
  ssl-client.xml: |-
{{ hbase_conf.config["hbase-conf/ssl-client.xml"] | b64decode | indent(4, true)}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-conf
  labels:
    managed_by: "TAP"
type: Opaque
data:
  core-site.xml: |-
{{ hive_conf.config["hive-conf/core-site.xml"] | b64decode | indent(4, true)}}
  hadoop-env.sh: |-
{{ hive_conf.config["hive-conf/hadoop-env.sh"] | b64decode | indent(4, true)}}
  hdfs-site.xml: |-
{{ hive_conf.config["hive-conf/hdfs-site.xml"] | b64decode | indent(4, true)}}
  hive-env.sh: |-
{{ hive_conf.config["hive-conf/hive-env.sh"] | b64decode | indent(4, true)}}
  log4j.properties: |-
{{ hive_conf.config["hive-conf/log4j.properties"] | b64decode | indent(4, true)}}
  mapred-site.xml: |-
{{ hive_conf.config["hive-conf/mapred-site.xml"] | b64decode | indent(4, true)}}
  redaction-rules.json: |-
{{ hive_conf.config["hive-conf/redaction-rules.json"] | b64decode | indent(4, true)}}
  ssl-client.xml: |-
{{ hive_conf.config["hive-conf/ssl-client.xml"] | b64decode | indent(4, true)}}
  topology.map: |-
{{ hive_conf.config["hive-conf/topology.map"] | b64decode | indent(4, true)}}
  topology.py: |-
{{ hive_conf.config["hive-conf/topology.py"] | b64decode | indent(4, true)}}
  yarn-site.xml: |-
{{ hive_conf.config["hive-conf/yarn-site.xml"] | b64decode | indent(4, true)}}
  hive-site.xml: |-
{{ hive_conf.config["hive-conf/hive-site.xml"] | b64decode | indent(4, true)}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: yarn-conf
  labels:
    managed_by: "TAP"
type: Opaque
data:
  yarn-site.xml: |-
{{ yarn_conf.config["yarn-conf/yarn-site.xml"] | b64decode | indent(4, true)}}
  core-site.xml: |-
{{ yarn_conf.config["yarn-conf/core-site.xml"] | b64decode | indent(4, true)}}
  hadoop-env.sh: |-
{{ yarn_conf.config["yarn-conf/hadoop-env.sh"] | b64decode | indent(4, true)}}
  hdfs-site.xml: |-
{{ yarn_conf.config["yarn-conf/hdfs-site.xml"] | b64decode | indent(4, true)}}
  log4j.properties: |-
{{ yarn_conf.config["yarn-conf/log4j.properties"] | b64decode | indent(4, true)}}
  mapred-site.xml: |-
{{ yarn_conf.config["yarn-conf/mapred-site.xml"] | b64decode | indent(4, true)}}
  ssl-client.xml: |-
{{ yarn_conf.config["yarn-conf/ssl-client.xml"] | b64decode | indent(4, true)}}
  topology.map: |-
{{ yarn_conf.config["yarn-conf/topology.map"] | b64decode | indent(4, true)}}
  topology.py: |-
{{ yarn_conf.config["yarn-conf/topology.py"] | b64decode | indent(4, true)}}