kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: "docker-registry-config"
  namespace: kube-system
  labels:
    id: "docker-registry-config"
data:
  config.yml: |-
{{ lookup('template', 'config.j2') | indent(4, true) }}

