apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.crt
    server: https://{{ groups['k8s-master'][0] }}:{{ k8s_api_secure_port }}
  name: {{ env_name }}
contexts:
- context:
    cluster: {{ env_name }}
    user: admin
  name: tap-context
current-context: tap-context
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate: /etc/kubernetes/ssl/{{ inventory_hostname }}.crt
    client-key: /etc/kubernetes/ssl/{{ inventory_hostname }}.key
