---

tap_domain_name: "{{ hostvars[groups['k8s-master'][0]].ansible_ssh }}.xip.io"
smtp_host: 127.0.0.1
smtp_password: password
smtp_port: 25
smtp_protocol: smtp
smtp_username: username
upgrade_kernel: False
kernel_version: kernel

dns_isolation: False
dns:
  - 8.8.8.8
  - 8.8.4.4

instances:
  hadoop-machine:
    ip: 10.88.119.12
    user: centos
    type: largex
    connection:
      type: ssh-key
    roles:
      - hadoop-master-controller
      - hadoop-worker
      - hadoop-master-primary
  compute-machine:
    ip: 10.88.119.63
    user: centos
    type: largex2
    connection:
      type: local
    roles:
      - compute-master
      - compute-worker
      - storage-master
      - storage-worker
      - jumpbox
      - zabbix-master
