apiVersion: v1
kind: Secret
metadata:
  name: etcd4skydns-ssl
  namespace: kube-system
data:
  cert: {{ skydns_keys_base64.results[0].content }}
  key: {{ skydns_keys_base64.results[1].content }}
  ca: {{ skydns_keys_base64.results[2].content }}
