FLANNEL_ETCD="{% for node in groups['k8s-etcd'] %}http{% if etcd.k8s.enable_ssl %}s{% endif %}://{{ node }}:{{ etcd.k8s.client_port }}{% if not loop.last %},{% endif %}{% endfor %}"
FLANNEL_ETCD_KEY="/flanneld/network"
FLANNEL_OPTIONS="--etcd-cafile=/etc/kubernetes/ssl/ca.crt --etcd-certfile=/etc/kubernetes/ssl/{{ inventory_hostname }}.crt --etcd-keyfile=/etc/kubernetes/ssl/{{ inventory_hostname }}.key"
